.news-form-title{
    font-size: 26pt;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}
.news-form-content{
    font-size: 26pt;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}
.news-form-picture{
    font-size: 22pt;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}
.news-form-button{
    background-color: #FBE205;
    box-shadow: 0px 3px 9px #764400;
}