.article-img{
    width: 100%;
}
.article-content-text{
    background-color: #ffffff;
    width:100%;
    padding: 18px 30px;
    font-size: 1.2rem;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 1.5;
    box-shadow: 0px 2px 6px #764400;
}
.article-content p{
    margin-bottom: 30px;
}
.article-image-wrapper{
    position: relative;
    width: 100%;
}
.text-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px 3px #000000;
    color: #fff;
}
.additional-info{
    text-transform:capitalize;
    color: #6b6b6bfa;
    font-size: 12pt;
}
.article-picture-credit{
    right: 0;
    display: block;
}
.article-loading{
    background-color: #fff;
    height:700px;
}