.photos-title{
    font-family: Signika Negative; font-size: 38pt; font-style: normal; font-variant: normal; font-weight: 350; line-height: 26.4px;
    padding: 30px;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}
.image-box{
    box-shadow: 0px 3px 9px #764400;
    width: fit-content;
    background-color: #ffffff;
}
