.photos-title{
    font-family: Signika Negative; font-size: 38pt; font-style: normal; font-variant: normal; font-weight: 350; line-height: 26.4px;
    padding: 30px;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}
.image-box{
    box-shadow: 0px 3px 9px #764400;
    width: fit-content;
    background-color: #ffffff;
    text-decoration: none;
}
.image-box:hover{
    box-shadow: 1px 5px 19px #000000;
    transition: box-shadow .2s ease-in-out;
    color:#3b3b3b;
}
.image-box p{
    color:#0F0E0B;
    text-decoration: none;
}
.picture-image-upload-wrapper{
    width: 90%;
}
.image-box-text{
    text-decoration: none;
    color:#ffffff;
}
.picture-upload-button{
    background-color: #0F0E0B;
    color: #ffffff;
    box-shadow: 0px 3px 9px #764400;
}
.upload-page-button{
    width: 90%;
}
.image-box-loading{
    height: 300px;
    width: 300px;
    background-color: #ffffff;
}
.picture-img{
    width: 100%;
}
.picture-image-wrapper{
    position: relative;
    width: 85%;
}
.picture-details{
    background-color: #ffffff;
    box-shadow: 0px 3px 9px #764400;
}
.picture-loading{
    height: 500px;
    width: 85%;
    background-color: #ffffff;
    box-shadow: 0px 3px 9px #764400;
}

@media only screen and (max-width: 760px) {
    .photos-title{
        font-family: Signika Negative; font-size: 35pt; font-style: normal; font-variant: normal; font-weight: 350; line-height: 50.4px;
        padding: 30px;
        text-shadow: 2px 2px 4px #764400;
        color: #ffffff;
    }
    .image-box-loading{
        height: 300px;
        background-color: #ffffff;
    }
    .picture-loading{
            height: 500px;
            background-color: #ffffff;
            box-shadow: 0px 3px 9px #764400;
    }
}