.logo{
    font-family:  Vast Shadow; font-size: 30pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
    filter:blur(1.5px);
    padding: 19px;
    padding-bottom: 80px;
    padding-left: 32px;
    margin-top: 10px;
}
.city-flexbox{
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
}
.navigation-flexbox{
  display: flex;
}
.dateTime{
  margin-left: 56%;
  margin-top: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #764400;
}
.info-flexbox{
    display: flex;
    flex-direction:column;
    padding: 50px;
    margin-left: 13px;
    font-size:23pt;
    color: #ffffff;
    text-shadow: 2px 2px 4px #764400;
}
.info-flexbox-description::first-letter{
  text-transform:capitalize;
}
.city-name{
    font-size:50pt;
    color: #ffffff;
    text-shadow: 2px 2px 4px #764400;
    padding-right: 70px;
    margin-top: -50px;
    margin-left: auto;
}
.degrees{
    font-size:100pt;
    color: #ffffff;
    padding-bottom: 50px;
    padding-left: 20px;
    margin-top: -30px;
    text-shadow: 2px 2px 4px #764400;
}
.city-season{
    font-size:28pt;
    margin-left: 170px;
}
.linebreak{
    border: 2px solid #ffff;
    width: 97%;
}
.weather-text{
    font-size:40pt;
    color: #ffffff;
    text-shadow: 2px 2px 4px #764400;
    padding: 20px;
}
.weather-box{
  padding-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0px 3px 9px #764400;
}

.weather-box-items{
  justify-items: center;
}
.weather-box-day{
  color: #744C00;
  font-size: 25pt;
  padding: 30px;
}
.weather-box-date{
  color: #000000;
  font-size: 25pt;
}
.news-box{
  padding-bottom: 60px;
  background-color: #ffffff;
  box-shadow: 0px 3px 9px #764400;
}
.footer-main{
  background-color: #0F0E0B;
}
.footer-text{
  font-size: 13pt;
  font-weight: 100;
  padding-left:20px;
  font-family: Open Sans; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 15.4px;
  color: #3a3939;
}
.footer-text-copyright{
  font-size:10pt;
  font-weight: 100;
  padding-left:20px;
  margin-top:65px;
  color: #3a3939;
  text-decoration: none;
  filter:blur(0.5px);
}
.footer-text-col-main{
  font-size:15pt;
  font-weight: 100;
  padding-left:20px;
  margin-top: 20px;
  color: #ffffff;
  filter:blur(0.5px);
}
.footer-text-col-1{
  font-size:13pt;
  font-weight: 100;
  padding-left:30px;
  filter:blur(0.5px);
  font-family:  Vast Shadow; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: 200; line-height: 26.4px;
  color: #3a3939;
}
.footer-text-col-2{
  font-size:13pt;
  font-weight: 100;
  padding-left:20px;
  padding-top: 5px;
  color: #3a3939;
  text-decoration: none;
  filter:blur(0.5px);
}
.footer-text-col-3{
  font-size:13pt;
  font-weight: 100;
  padding-left:20px;
  color: #3a3939;
  filter:blur(0.5px);
}
.footer-text-col-4{
  font-size:13pt;
  font-weight: 100;
  padding-left:20px;
  color: #3a3939;
  filter:blur(0.5px);
}
.footer-logo{
  padding: 30px;
  filter:blur(1px);
  font-family:  Vast Shadow; font-size: 20pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
  padding-top: 30px;
  color: #3f3d3d;
}
ul {
    list-style-type: none;
    width: 95%;
    margin: auto;
    box-shadow: 0px 3px 9px #764400;
    margin: 1;
    padding: 0;
    overflow: hidden;
    background-color: #FBE205;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #744C00;
    text-align: center;
    font-size: 20pt;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    color: black;
    text-decoration: none;
  }
  @media only screen and (max-width: 820px) {
    ul{
        visibility: hidden;
    }
  }
