.logo{
    font-family:  Vast Shadow; font-size: 30pt; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    filter:blur(1px);
    padding: 19px;
    padding-bottom: 80px;
    padding-left: 32px;
    margin-top: 10px;
}
.city-flexbox{
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
}
.info-flexbox{
    display: flex;
    flex-direction:column;
    padding: 50px;
    margin-left: 13px;
    font-size:23pt;
    color: #ffffff;
    text-shadow: 2px 2px 4px #764400;
}
.city-name{
    font-size:50pt;
    color: #ffffff;
    text-shadow: 2px 2px 4px #764400;
    padding-right: 70px;
    margin-top: -50px;
    margin-left: auto;
}
.degrees{
    font-size:100pt;
    color: #ffffff;
    padding-bottom: 50px;
    padding-left: 20px;
    margin-top: -30px;
    text-shadow: 2px 2px 4px #764400;
}
.city-season{
    font-size:28pt;
    margin-left: 170px;
}
.linebreak{
    border: 2px solid #ffff;
}
ul {
    list-style-type: none;
    width: 95%;
    margin: auto;
    box-shadow: 0px 3px 9px #764400;
    margin: 1;
    padding: 0;
    overflow: hidden;
    background-color: #FBE205;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #744C00;
    text-align: center;
    font-size: 20pt;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    color: black;
    text-decoration: none;
  }
  @media only screen and (max-width: 820px) {
    ul{
        visibility: hidden;
    }
  }
