.logo{
    font-family:  Vast Shadow; font-size: 34pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
    filter:blur(1.5px);
    padding: 19px;
    padding-bottom: 80px;
    padding-left: 32px;
    margin-top: 10px;
}
.sign-in{
  font-family: Open Sans; font-size: 20pt; font-style: normal; font-variant: normal; font-weight: 200; line-height: 40.4px;
  text-shadow: 2px 2px 4px #764400;
}
.sign-in a{
  color: #ffffff;
  text-decoration: none;
}
.sign-in a:hover{
  color: #0F0E0B;
  text-decoration: none;
}
.sign-up{
  font-family: Open Sans; font-size: 12pt; font-style: normal; font-variant: normal; font-weight: 100; line-height: 10.4px;
  text-shadow: 2px 2px 4px #764400;
}
.sign-up a{
  color: #ffffff;
  text-decoration: none;
}
.sign-up a:hover{
  color: #0F0E0B;
  text-decoration: none;
}
.navigation-flexbox{
  display: flex;
}
.linebreak{
  border: 2px solid #ffff;
  width: 97%;
}
.linebreak-darkened{
  border: 2px solid #ffff;
  width: 93%;
  box-shadow: 0px 3px 9px #764400;
}
.dateTime{
  margin-left: 56%;
  margin-top: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #764400;
}
.footer-main{
  background-color: #0F0E0B;
}
.footer-text{
  font-size: 13pt;
  font-weight: 100;
  padding-left:20px;
  font-family: Open Sans; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 15.4px;
  color: #3a3939;
}
.footer-text-copyright{
  font-size:10pt;
  font-weight: 100;
  padding-left:20px;
  margin-top:65px;
  color: #3a3939;
  text-decoration: none;
  filter:blur(0.5px);
}
.footer-text-col-main{
  font-size:15pt;
  font-weight: 100;
  padding-left:20px;
  margin-top: 20px;
  color: #ffffff;
  filter:blur(0.5px);
}
.footer-text-col-1{
  font-size:13pt;
  font-weight: 100;
  padding-left:30px;
  filter:blur(0.5px);
  font-family:  Vast Shadow; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: 200; line-height: 26.4px;
  color: #3a3939;
}
.footer-explore{
  list-style-type: none;
  overflow: hidden;
}
.footer-explore a{
  font-size:13pt;
  font-weight: 100;
  margin-left: -20px;
  color: #3a3939;
  text-decoration: none;
  filter:blur(0.5px);
}
.footer-explore a:hover{
  color: #ffffff;
}
.footer-text-col-2{
  font-size:13pt;
  font-weight: 100;
  padding-left:20px;
  padding-top: 5px;
  color: #3a3939;
  text-decoration: none;
  filter:blur(0.5px);
}
.footer-text-col-3{
  font-size:13pt;
  font-weight: 100;
  padding-left:20px;
  color: #3a3939;
  filter:blur(0.5px);
}
.footer-social-media{
  list-style-type: none;
  overflow: hidden;
}
.footer-social-media a{
  font-size:13pt;
  font-weight: 100;
  padding-left:20px;
  margin-left: -40px;
  color: #3a3939;
  text-decoration: none;
  filter:blur(0.5px);
}
.footer-social-media a:hover{
  color:#ffffff;
}
.footer-logo{
  padding: 30px;
  filter:blur(1px);
  font-family:  Vast Shadow; font-size: 20pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
  padding-top: 30px;
  color: #3f3d3d;
}
.error-page-message{
  padding:20px;
  font-family: Open Sans; font-size: 24pt; font-style: normal; font-variant: normal; font-weight: 200; line-height: 40.4px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #764400;
}
.error-page-number{
  filter:blur(1px);
  font-family:  Open Sans; font-size: 60pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
  color: #fff;
  text-shadow: 2px 2px 4px #764400;
}
.error-page-text{
  padding: 25px;
  filter:blur(1px);
  font-family:  Open Sans; font-size: 40pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
  padding-top: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #764400;
}
.navigation-bar {
  list-style-type: none;
  width: 95%;
  margin: auto;
  box-shadow: 0px 3px 9px #764400;
  margin: 1;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #FBE205;
}
.navigation-bar-list {
  float: left;
}
.navigation-bar-list a {
  display: block;
  color: #744C00;
  text-align: center;
  font-size: 20pt;
  padding: 9px 30px;
  text-decoration: none;
}
.navigation-bar-list a:hover {
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 760px) {
  .error-page-number{
    filter:blur(1px);
    font-family:  Open Sans; font-size: 80pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 46.4px;
    color: #fff;
    text-shadow: 2px 2px 4px #764400;
  }
  .error-page-text{
    padding: 25px;
    filter:blur(1px);
    font-family:  Open Sans; font-size: 70pt; font-style: normal; font-variant: normal; font-weight: 300; line-height: 46.4px;
    padding-top: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px #764400;
  }
}