.login-form-text{
    font-size: 20pt;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}
.login-form-button{
    background-color: #0F0E0B;
    color: #ffffff;
    box-shadow: 0px 3px 9px #764400;
    width: 160px;
    margin-left:25%;
}
.login-form-input{
    box-shadow: 0px 3px 9px #764400;
}
.login-title{
    font-size: 46pt;
    font-family: Signika Negative; font-style: normal; font-variant: normal; font-weight: 550; line-height: 26.4px;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}