.news-article{
    background-color: #ffffff;
    box-shadow: 0px 3px 9px #764400;
    border-radius: 4px;
}
.news-article-content{
    font-size: 1.5rem;
    color: #221f1c;
}
.news-article:hover{
    box-shadow: 1px 5px 19px #000000;
    transition: box-shadow .2s ease-in-out;
}
.news-title{
    font-family: Signika Negative; font-size: 45pt; font-style: normal; font-variant: normal; font-weight: 350; line-height: 26.4px;
    padding: 30px;
    text-shadow: 2px 2px 4px #764400;
    color: #ffffff;
}
.news-article-details{
    display: flex;
    font-size: 16pt;
    color:#6b6b6bfa;
}
.news-article-details-row{
    bottom: 0%;
    position: absolute
}
.news-article-picture{
    width: 365px;
    height: 220px;
    border-radius: 4px;
}
.news-article-background{
    background-color: #fff;
    border-radius: 8px;
}
.news-page{
    background-color: #fff;
    box-shadow: 0px 3px 9px #764400;
}
.news-page a{
    color: #000000
}
.news-button{
    position: relative;
    box-shadow: 0px 3px 9px #764400;
}
.news-loading{
    background-color: #fff;
    height:500px;
}
@media only screen and (max-width: 500px) {
    .news-title{
        font-family: Signika Negative; font-size: 45pt; font-style: normal; font-variant: normal; font-weight: 350; line-height: 50px;
        padding: 20px;
        text-shadow: 2px 2px 4px #764400;
        color: #fff;
    }
    .news-loading{
        background-color: #fff;
        height:500px;
    }
}