
html {
    height: 100%;
}
body {
    height: 100vh;
    margin: 0;
    font-family: Signika Negative; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 350; line-height: 26.4px;
    background-image: linear-gradient(to top, #ffc909, #ffb500, #fea100, #fc8c00, #f87700);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
strike{
    padding: 5px;
}